<body>
    <h4>Mes projets en biologie: <br><strong>végétal, génétique et écologie</strong></h4>

    <div class="container p-3 shadow-lg border rounded">
        <p class="font-weight-bold">
            TechScout.com, Paris (Télétravail – Full Remote), France
            <span class="float-right">2014–2019</span>
        </p>
        <mark class="souligner">Projet</mark>: Étude pour l’antenne américaine d’un groupe agro-alimentaire
        international : classement des variétés de pomme et autres fruits/légumes pour innover en matière de purée pour
        bébé<br>
        <mark class="souligner">Rôle</mark>: Consultante, Innovation <br>
        <mark class="souligner">Réalisations</mark>:
        <ul>
            <li>Recherche : bibliographie, contacts avec associations, USDA, producteurs, grossistes, chercheurs
            <li>Création de bases de données, de fiche de score, rapport, présentation</li>
            <li>Livraison tous les mois avec réunion téléphonique et retour du client</li>
        </ul>
        <mark class="souligner">Environnement technique</mark>: Excel, Word, PowerPoint, Zotero, DropBox, Skype, macOS<br><br>
        <img src="assets/img/biologie/Golden.png" alt="pomme"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
    </div><br>

    <div class="container p-3 shadow-lg border rounded">
        <p class="font-weight-bold">
            Lauréat / Lycée privé du Val d’Ainan / Prestacours, Bourgoin-Jallieu / Pont de Beauvoisin / Fontaines
            d’Ozillac, France
            <span class="float-right">2017–2019</span>
        </p>
        <mark class="souligner">Rôle</mark>: Enseignante en mathématiques, physique/chimie, biologie <br>
        <mark class="souligner">Réalisations</mark>:
        <ul>
            <li>Cours de soutien en mathématiques et physique/chimie avec Lautréat</li>
            <li>Enseignante en biologie et physique/chimie au lycée privé du Guiers Val d'Ainan</li>
            <li>Niveaux : de la 4ième à la Terminale</li>
            <li>Cours de soutien en biologie et mathématiques avec Prestacours</li>
        </ul>
    </div><br>

    <div class="container p-3 shadow-lg border rounded">
        <p class="font-weight-bold">
            UQAM, Montréal, Canada
            <span class="float-right">2008–2014</span>
        </p>
        <mark class="souligner">Rôle</mark>: Auxiliaire de recherche, Chaire AFD<br>
        <mark class="souligner">Réalisations</mark>:
        <ul>
            <li>Gestion d'un laboratoire de génétique (animation de réunions, gestion des stocks, aménagement de deux
                nouvelles salles) </li>
            <li>Etude en écologie (mise en place, mesures, analyses) suivi de la production de graines d’érable à sucre
            </li>
            <li>Autres études en écologie forestière, expertises sur l'érable à sucre et les sites nordiques</li>
        </ul>
        <mark class="souligner">Environnement technique</mark>: ArcGIS, logiciel R, Excel, macOS, Windows<br><br>
        <img src="assets/img/biologie/Graines.jpg" alt="graines: samares d'érbale à sucre"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
        <img src="assets/img/biologie/Trappe.jpg" alt="trappe à graine pour récolter les samares d'érbale à sucre"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
    </div><br>

    <div class="container p-3 shadow-lg border rounded">
        <p class="font-weight-bold">
            Laboratoire de Paléogénétique et évolution moléculaire et Plateforme PALGENE (CNRS/ENS de Lyon/LECA), Lyon,
            France
            <span class="float-right">2014</span>
        </p>
        <mark class="souligner">Projet</mark>: Paléo-GÉNétique des populations MARGinalEs en milieux boréal et
        montagnard<br>
        <mark class="souligner">Rôle</mark>: Chercheur post-doctorant<br>
        <mark class="souligner">Réalisations</mark>:
        <ul>
            <li>Tests d'extraction d'ADN ancien de Thuya occidentalis</li>
            <li>Extraction et amplification pour séquençage haut débit d'ADN de chien ancien</li>
        </ul>
        <img src="assets/img/biologie/PostDocGel.jpg" alt="gel d'agarose montrant l'amplification d'ADN de chien ancien"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
    </div><br>

    <div class="container p-3 shadow-lg border rounded">
        <p class="font-weight-bold">
            Chaire industrielle UQAT-UQAM en aménagement forestier durable (Chaire AFD). UQAT et UQAM, Rouyn-Noranda et
            Montréal, Canada
            <span class="float-right">2007–2014</span>
        </p>
        <mark class="souligner">Projet</mark>: Impacts de la fragmentation sur la capacité reproductrice et la diversité
        génétique de l'érable à sucre (<em>Acer saccharum</em> Marshall) au Québec, Canada<br>
        <a href="https://www.researchgate.net/profile/Noemie_Graignic">Page
            personnel sur le site de ResearchGate</a><br>
        <mark class="souligner">Rôle</mark>: Doctorant<br>
        <img src="assets/img/biologie/PhDTerrainIMG_4897-modif.jpg" alt="mesure du DHP sur un érable à sucre"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
        <mark class="souligner">Réalisations</mark>:
        <ul>
            <li>Gestion de 3 projets en parallèle sur la fragmentation de l'érable à sucre : limite nordique (génétique
                et écologie), coupe forestière (génétique)</li>
            <li>Expertise validée par 4 publications en :</li>
            <ul>
                <li>Génétique des populations (marqueurs microsatellites, NGS, diversité génétique)</li>
                <li>Ecologie forestière (DHP, inéquien, aire de répartition)</li>
                <li>Lancement d’un appel d’offre vers 10 sociétés pour la sous-traitance de la conception</li>
            </ul>
            <li>Gestion de projets, de budget, de collections, de bases de données</li>
            <li>Travail de terrain, laboratoire, veille bibliographique, statistique</li>
            <li>Rédaction de rapports, d'articles, de demandes de permis pour travailler dans des aires protégées</li>
            <li>Encadrement de stagiaires, techniciens, sous-traitance</li>
        </ul>
        <img src="assets/img/biologie/PhDdhpIMG_4961-modif.jpg" alt="mesure du DHP sur un érable à sucre"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
        <img src="assets/img/biologie/PhDlaboIMG_6882.JPG" alt="extraction d'ADN d'érable à sucre"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
        <img src="assets/img/biologie/PhDbureauIMG_6897.JPG" alt="extraction d'ADN d'érable à sucre"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
        <mark class="souligner">Environnement technique</mark>:
        <ul>
            <li>Statistiques : programmation sous R (modèles mixtes, analyses multivariées)
            <li>Logiciel d'information géographique : ArcGIS (création de cartes, manipulation de données ne pouvant pas
                être réalisé sous Excel)</li>
            <li>Bio-informatique : GENEMAPPER, FSTAT, GENEPOP, STRUCTURE</li>
            <li>Excel, Word, EndNote</li>
            <li>macOS, Windows</li>
        </ul>
        <img src="assets/img/biologie/PhDCarteSites.jpg"
            alt="carte des 24 sites d'études d'érable à sucre pour une étude latitudinale"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
    </div><br>


    <div class="container p-3 shadow-lg border rounded">
        <p class="font-weight-bold">
            Journaux internationaux à comité de lecture, Monde
            <span class="float-right">2014–2019</span>
        </p>
        <mark class="souligner">Projet</mark>: <a href="http://publons.com/researcher/2899706/noemie-graignic">Page
            personnel sur le site de publons</a><br>
        <mark class="souligner">Rôle</mark>: Reviewer (correcteur)<br>
        <mark class="souligner">Réalisations</mark>:
        <ul>
            <li>Apport de mon expertise en génétique des populations et en écologie végétale</li>
            <li>Proposer des corrections et donner mon avis sur la pertinence de publier l'article soumis</li>
        </ul>
        <mark class="souligner">Environnement technique</mark>: Word, Mendeley, macOS<br><br>
        <img src="assets/img/biologie/Publons.jpg" alt="page personnel publons"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
    </div><br>

    <div class="container p-3 shadow-lg border rounded">
        <p class="font-weight-bold">
            Université du Québec en Abitibi-Témiscamingue (UQAT), Rouyn-Noranda, Canada
            <span class="float-right">2010–2014</span>
        </p>
        <mark class="souligner">Projet</mark>: <a
            href="https://www.uqat.ca/services/etudiants/vie-etudiante-comites/instances-administratives.asp">Commission
            des études de l'UQAT</a><br>
        <mark class="souligner">Rôle</mark>: Membre étudiant de la commission des études, Administration<br>
        <mark class="souligner">Réalisations</mark>:
        <ul>
            <li>Participations actives aux réunions de la Commission des Etudes</li>
            <li>Vote de la modification/création des programmes universitaires, validation des diplômes, pour le poste
                de recteur</li>
        </ul>
        <img src="assets/img/biologie/CommissionEtudesUQAT2010-2014.jpg"
            alt="administration universitaire québécoise: Commission des études"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
    </div><br>

    <div class="container p-3 shadow-lg border rounded">
        <p class="font-weight-bold">
            Expo-Sciences, Rouyn-Noranda, Canada
            <span class="float-right">2008–2012</span>
        </p>
        <mark class="souligner">Projet</mark>: <a
            href="https://technoscience.ca/programmes/expo-sciences/">Expo-Sciences Hydro-Québec</a><br>
        <mark class="souligner">Rôle</mark>: Juge<br>
        <mark class="souligner">Réalisations</mark>:
        <ul>
            <li>Juge pour les finales régionales en Abitibi-Témiscamingue </li>
            <li>Niveaux : secondaire et CEGEP</li>
        </ul>
        <img src="assets/img/biologie/ExpoScience2008-2012.png" alt="Guide pour les juges de l'Expo-Sciences"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
    </div><br>


    <div class="container p-3 shadow-lg border rounded">
        <p class="font-weight-bold">
            INRA UREFV, Bordeaux, France
            <span class="float-right">2006</span>
        </p>
        <mark class="souligner">Projet</mark>: Développer et cartographier des marqueurs COS (Conserved Ortholog
        Set)<br>
        <mark class="souligner">Rôle</mark>: Stagiaire et technicienne<br>
        <mark class="souligner">Réalisations</mark>:
        <ul>
            <li>Etude de la synténie chez les Rosacées fruitières</li>
            <li>Etude des marqueurs COS comme gènes candidats de la qualité du fruit</li>
        </ul>
        <img src="assets/img/biologie/DES4PeaksGC4-1.png" alt="électrophorégramme"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
    </div><br>


    <div class="container p-3 shadow-lg border rounded">
        <p class="font-weight-bold">
            INRA BIOGECO, Bordeaux, France
            <span class="float-right">2005</span>
        </p>
        <mark class="souligner">Projet</mark>: Repérage du polymorphisme de séquence dans deux gènes candidats
        potentiellement impliqués dans le débourrement du chêne sessile (<em>Quercus petraea</em> Matt.
        Liebl.)<br>
        <mark class="souligner">Rôle</mark>: Stagiaire et main d'oeuvre occasionnelle<br>
        <mark class="souligner">Réalisations</mark>:
        <ul>
            <li>Clonage d'un fragment des deux gènes candidats chez une cinquantaine d'arbres issus de 9
                populations européennes</li>
            <li>Séquencer et aligner les séquences pour repérer les mutations ponctuelles et analyser
                quantitativement le polymorphisme de type SNP</li>
        </ul>
        <mark class="souligner">Environnement technique</mark>:
        <ul>
            <li>Bio-informatique : CONSED, PROSEQ, DNASP</li>
            <li>Windows, Linux</li>
        </ul>
        <img src="assets/img/biologie/Master2carte.jpg" alt="carte des populations de chêne étudiées"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
    </div><br>


    <div class="container p-3 shadow-lg border rounded">
        <p class="font-weight-bold">
            Laboratoire de Mycologie et Biotechnologie végétale, Bordeaux, France
            <span class="float-right">2004</span>
        </p>
        <p>
            <mark class="souligner">Projet</mark>: Etude comparative du contenu en stilbènes dans le bois et
            l’écorce de sarments de Vitis vinifera du
            cépage
            Cabernet Sauvignon<br>
            <mark class="souligner">Rôle</mark>: Stagiaire<br>
            <mark class="souligner">Réalisations</mark>: Extraction, purification et analyse structurale des
            polyphénols et en particulier des
            stilbènes.<br>
        </p>
        <img src="assets/img/biologie/Master1CCM.jpg" alt="chromatographie sur couche mince CCM"
            class="img-fluid rounded img-thumbnail w-50 h-50" />
        <img src="assets/img/biologie/Master1colonne.jpg" class="img-fluid rounded img-thumbnail"
            alt="colonne d'extraction pour extraire des polyphénol du bois de vigne" />
    </div><br>

</body>