<body>
    <h4>Mes études en biologie: <br><strong>végétal, génétique et écologie</strong></h4>
    <div class="container p-3 shadow-lg border rounded">
        <p class="font-weight-bold">
            Laboratoire de Mycologie et Biotechnologie végétale, Bordeaux, France
            <span class="float-right">2004</span>
        </p>
        <p>
                <mark class="souligner">Projet</mark>: Etude comparative du contenu en stilbènes dans le bois et l’écorce de sarments de Vitis vinifera du
            cépage
            Cabernet Sauvignon<br>
            <mark class="souligner">Rôle</mark>: Stagiaire<br>
            <mark class="souligner">Réalisations</mark>: Extraction, purification et analyse structurale des polyphénols et en particulier des
            stilbènes.<br>
        </p>
        <img src="assets/img/biologie/Master1colonne.jpg"
            alt="colonne d'extraction pour extraire des polyphénol du bois de vigne" />
        <img src="assets/img/biologie/Master1CCM.jpg" alt="chromatographie sur couche mince CCM"
            class="w-50 h-50 img-CCM" />
    </div><br>
    <div class="container p-3 shadow-lg border rounded">

    </div>
</body>