<body>
    <h4>Questionnaire</h4>
    <div class="container p-3 shadow-lg border rounded">
        <form [formGroup]="questionUnForm" (ngSubmit)="onSaveReponseUn()">
            <label for="question1">
                <h5>Question 1:</h5>
                <h6>Avez-vous besoin de développer une application avec Java et/ou Angular ?</h6>
            </label>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="q1-r1" formControlName="question1" value="q1-r1">
                <label class="form-check-label" for="q1-r1">Oui</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="q1-r2" formControlName="question1" value="q1-r2">
                <label class="form-check-label" for="q1-r2">Non</label>
            </div>
            <button class="btn btn-success" [disabled]="questionUnForm.invalid" type="submit">Question suivante</button>
        </form>
        <p></p>
        <img src="assets/img/informatique/logo-java.png" alt="logo java"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
        <p></p>
        <img src="assets/img/informatique/logo-angular.png" alt="logo Angular"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
    </div>
</body>