<body>
    <h4>Bienvenue sur mon composant Informatique.</h4>
    <h6>Je vous propose un quiz pour savoir si vous, une entreprise, "matchez" avec moi, NG qui propose mes services en
        programmation:</h6>
    <h3 class="text-center"><a role="button" class="badge badge-warning badge-pill" (click)="onQuestionnaire1()">Aller au
            questionnaire</a></h3>
    <p></p>
    <img src="assets/img/informatique/VScode_2019-11-28.jpg" alt="application MatchMeNG dans VS Code"
        class="img-fluid rounded mx-auto d-block img-thumbnail" />

</body>