body
{
   
    background-image: url("/assets/img/IMG_4874-modif-clair-ref.jpg");
    
   
    /* margin:0;
    padding:0;
     background: url("/assets/img/IMG_4874-modif-clair.jpg") no-repeat center fixed;
  -webkit-background-size: cover; pour anciens Chrome et Safari
  background-size: cover; version standardisée
  -moz-background-size: cover;
  -o-background-size: cover; */
}