<body>
        <h4>Questionnaire</h4>
        <div class="container p-3 shadow-lg border rounded">
            <form [formGroup]="questionsForm" (ngSubmit)="onReponsesInformatique()">
                <div class="form-group">
                    <label for="title">
                        <h5>Question 3:</h5>
                        <h6>Pensez-vous qu'avoir un doctorat, PhD, c'est :</h6>
                    </label>
                    <div class="custom-control custom-radio">
                            <input type="radio" id="Q3-R1" formControlName="Question3" class="custom-control-input">
                            <label class="custom-control-label" for="Q3-R1">Inutile, c'est quoi un doctorat?</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="Q3-R2" formControlName="Question3" class="custom-control-input">
                            <label class="custom-control-label" for="Q3-R2">Une expérience formatrice en terme de gestion de projet (apprendre à rebondir)</label>
                          </div>
                          <div class="custom-control custom-radio">
                                <input type="radio" id="Q3-R3" formControlName="Question3" class="custom-control-input">
                                <label class="custom-control-label" for="Q3-R3">Devoir appeler "Docteur" mon employé ou collaborateur</label>
                              </div>
                </div>
                <button class="btn btn-success" [disabled]="questionsForm.invalid" type="submit">Question suivante</button>
            </form>
    
        </div>
    </body>
