body{
    background-color: rgb(59, 206, 206);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.container{
    background-color:#FAFAE6;
}

canvas{
    border-style: solid;
    margin: auto;
    position: relative;
    //cursor: url("assets/img/informatique/cursor.png") 5 5, pointer;
}

.grat{
    height: 150px;
    width: 250px;
    left: 95px;
    top: 75px;
    display: inline-block;
    border: 5px solid #fff;
    
    position: absolute;
    text-align: center;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

/* .progress{
    height: 20px;
}

.progress-bar{
    min-width: 2em;
    width: pourcentKDeux;
} */
