<div class="card text-center text-dark bg-transparent mb-3" style="width: 31rem;">
    <h6 class="card-header">Quelques informations pratiques</h6>
    <div class="card-body">
        <div class="card-body">
            <script charset='UTF-8'
                src='https://www.meteofrance.com/mf3-rpc-portlet/rest/vignettepartenaire/383740/type/VILLE_FRANCE/size/PORTRAIT_VIGNETTE'
                type='text/javascript'>
                </script>
        </div>
        <div class="card-body">
            <!-- Debut code vignette vigilance départementale  Météo-France -->
            <iframe src="http://vigilance.meteofrance.com/vignette_vigi_dep.html?a=38&b=" width="426" height="91"
                frameborder="2">
                <p>Votre navigateur est incompatible avec les iframes.</p>
            </iframe>
            <!-- FIN   -->
        </div>
        <div class="card-body">
            <script language="javascript" charset="utf-8" type="text/javascript"
                src="https://www.tradingsat.com/divers/webmaster-module.php?e=cours-action&mnemo=PXI">
                </script>
        </div>
    </div>
</div>