<div class="card text-center text-dark bg-light mb-3" style="width: 31rem;">
    <h6 class="card-header">Quelques informations pratiques</h6>
    <div class="card-body">
        <div class="card-body">
            <!-- weather widget start --><a target="_blank" href="https://hotelmix.fr/weather/saint-chef-421131"><img
                    src="https://w.bookcdn.com/weather/picture/3_421131_1_3_137AE9_250_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=2&domid=581&anc_id=18375"
                    alt="booked.net" /></a><!-- weather widget end -->
        </div>
        <div class="card-body">
            <script charset='UTF-8'
                src='https://www.meteofrance.com/mf3-rpc-portlet/rest/vignettepartenaire/383740/type/VILLE_FRANCE/size/PAYSAGE_VIGNETTE'
                type='text/javascript'></script>
        </div>
        <div class="card-body">
            <!-- Debut code vignette vigilance départementale  Météo-France -->
            <iframe src="http://vigilance.meteofrance.com/vignette_vigi_dep.html?a=38&b=" width="426" height="91"
                frameborder="2">
                <p>Votre navigateur est incompatible avec les iframes.</p>
            </iframe>
            <!-- FIN   -->
        </div>
        <div class="card-body">
            <script language="javascript" charset="utf-8" type="text/javascript"
                src="https://www.tradingsat.com/divers/webmaster-module.php?e=cours-action&mnemo=PXI">
                </script>
        </div>
    </div>
</div>