<div class="container p-3 shadow-lg border rounded">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Connexion</h2>
            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                <div class="formGroup">
                    <label for="email">Email</label><br>
                    <input type="text" id="email" class="formControl" formControlName="email">
                </div>
                <div class="formGroup">
                    <label for="password">Mot de passe</label><br>
                    <input type="password" id="password" class="formControl" formControlName="password">
                </div><br>
                <button class="btn btn-primary" type="submit" [disabled]="signInForm.invalid">Connexion</button>
            </form>
            <p class="text-danger">{{ errorMessage }}</p>
        </div>
    </div>
</div>