<body>
<div class="container p-3 border rounded">
    <p>
        Bienvenue sur <a routerLink=""><strong>MatchMeNG</strong></a>. Les différentes parties de ce site correspondent aux différents <strong>composants</strong>
        qui me correspondent.</p>
    <p>
        Le premier composant de ma vie est la
        <a routerLink="biologie"> Biologie </a>car j'ai fait des études supérieures en biologie.</p>
    <p>
        Le second composant est l'<a routerLink="informatique">Informatique</a>. Si l'informatique m'a suivi durant toute ma vie, ce composant vient de
        prendre une part importante de mon système en 2019 avec une formation de développeur. Je vous laisse découvrir
        ce composant
        particulier. Si vous êtes une entreprise qui a besoin d'un développeur aller voir si nous pouvons correspondre!
    </p>
    <p>
        Le troisième composant est tout ce que je fais en dehors de la biologie et de l'informatique, je l'ai appelé
        <a routerLink="diversification">Diversification</a>.
    </p>
    <img src="assets/img/IMG_4874-modif-Foret2008.jpg" alt="route forestière dans le sud du Témiscaming, Québec, Canada"
            class="img-fluid rounded mx-auto d-block img-thumbnail" />
    <br>
</div>
</body>